

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1073px;
  margin: 0 auto;

  .footer__main-menu ul {
    @extend %zero_padd_marg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-top: 1px solid #baa480;
    border-bottom: 1px solid #baa480;
    padding: 22px 0;
    li {
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 0.04em;
      text-transform: none;
    }
    li.main {
      text-transform: uppercase;
    }
    a {
      color: #9b8869;
      text-decoration: none;
    }
  }
  .footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 50px 0;
  }
  .footer__social {
    @extend %zero_padd_marg;
    display: flex;
    font-size: 0;
    li {
      margin-right: 20px;
    }
    li:last-child {
      margin-right: 0;
    }
    .social-btn {
      @extend %sprite;
    }
    .social-btn-vk {
      background-position: -13px -112px;
    }
    .social-btn-fb {
      background-position: -62px -111px;
    }
    .social-btn-in {
      background-position: -111px -113px;
    }
  }
  .footer__logo {
    display: block;
    width: 184px;
    height: 30px;
  }
  p {
    @extend %zero_padd_marg;
    font-family: "RobotoRegular", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: lighter;
    line-height: 18px;
    text-transform: none;
    letter-spacing: 0.04em;
    color: #baa480;
  }
}
