

.header {
  @extend %zero_padd_marg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1250px;
  padding: 40px 0;
  margin: 0 auto;
  position: relative;
  .header__logo {
    display: block;
    width: 184px;
    height: 30px;
  }
  .menu ul {
    @extend %zero_padd_marg;
    display: flex;
    list-style: none;
    margin: 0 110px;
    li {
      margin-right: 20px;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 0.04em;
      text-transform: none;
    }
    li.menu__item {
      text-transform: uppercase;
    }
    li:last-child {
      margin-right: 0;
    }
    a {
      color: #9b8869;
      text-decoration: none;
    }
    .menu__link-active {
      color: #ba4f4f;
    }
  }
  .user-nav {
    @extend %zero_padd_marg;
    display: flex;
    font-size: 0;
    li {
      margin-right: 20px;
    }
    li:last-child {
      margin-right: 0;
    }
  }
  .user-nav__btn {
    @extend %sprite;
  }
  .user-btn-us {
    background-position: -14px -15px;
  }
  .user-btn-s {
    background-position: -62px -15px;
  }
  .user-btn-b {
    background-position: -112px -14px;
  }
  .user-btn-h {
    background-position: -19px -214px;
  }
  .quantity-basket,
  .quantity-hamburger {
    @extend %zero_padd_marg;
    position: absolute;
    top: 60%;
    left: 95.2%;
    font-family: "RobotoRegular", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #ba4f4f;
  }
  .quantity-hamburger {
    left: 98.3%;
  }
}
