@import "fonts.scss";

%buttons {
  display: inline-block;
  width: 240px;
  padding: 20px;
  font: inherit;
  vertical-align: top;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #baa480;
  text-transform: uppercase;
  text-decoration: none;
  word-wrap: break-word;
  border: 1px solid #baa480;
  box-sizing: border-box;
}

%sprite {
  display: inline-block;
  width: 25px;
  height: 25px;
  //border: 1px solid #9b8869;
  background: url("../img/sprites.png") no-repeat;
}

%zero_padd_marg {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1024px;
  @extend %zero_padd_marg;
  font-family: "HaginCapsMedium", sans-serif;
  color: #817155;
  background-color: #e9e1d5;
}

.header-container {
  background: url("../img/header_image.png") no-repeat center;
  background-size: cover;
  @import "header";
  .promo {
    width: 1250px;
    margin: 0 auto;
  }
  .content {
    padding: 130px 0 35px 625px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    @extend %zero_padd_marg;
    font-size: 100px;
    line-height: 100px;
    letter-spacing: 0.04em;
    font-weight: normal;
    text-transform: uppercase;
    color: #baa480;
  }
  p {
    @extend %zero_padd_marg;
    margin-bottom: 60px;
    font-size: 65px;
    line-height: 90px;
    letter-spacing: 0.04em;
    font-weight: normal;
    color: #baa480;
  }
  .promo-btn {
    @extend %buttons;
    margin-bottom: 150px;
  }
  .promo__social {
    @extend %zero_padd_marg;
    display: flex;
    padding-left: 505px;
    font-size: 0;
  }
  li {
    margin-right: 20px;
  }
  li:last-child {
    margin-right: 0;
  }
  .social-btn {
    @extend %sprite;
  }
  .social-btn-vk {
    background-position: -14px -63px;
  }
  .social-btn-fb {
    background-position: -64px -63px;
  }
  .social-btn-in {
     background-position: -111px -63px;
  }
}

.bikes,
.accessories {
  padding: 80px 0;

  .bikes__content,
  .accessories__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bikes__text-block,
  .accessories__text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }
  h2 {
    @extend %zero_padd_marg;
    width: 900px;
    font-size: 48px;
    font-weight: normal;
    line-height: 56px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: #817155;
    margin-bottom: 35px;
  }
  p {
    @extend %zero_padd_marg;
    width: 850px;
    font-family: "RobotoRegular", sans-serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 30px;
    text-align: center;
    text-transform: none;
    letter-spacing: 0.04em;
    color: #817155;
  }

  .accessories__text-block p {
    width: 800px;
  }
  .bike__slider,
  .accessories__slider {
      @import "slider";
      margin-bottom: 70px;
  }

  .bikes__btn,
  .accessories__btn {
    @extend %buttons;
    width: 275px;
  }
}

.service {
  background: url("../img/back.png") no-repeat center;
  background-size: cover;

  .service__container {
    display: flex;
    justify-content: flex-end;
    width: 1073px;
    padding: 123px 0 96px 0;
    margin: 0 auto;
    background: url("../img/rectangle_4.png") no-repeat 0 123px;
    background-size: auto auto;
  }

  .service__text-block {
    @extend %zero_padd_marg;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
  }
  h2 {
    @extend %zero_padd_marg;
    font-size: 48px;
    font-weight: normal;
    line-height: 48px;
    vertical-align: top;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: #baa480;
    margin-bottom: 25px;
  }
  p {
    @extend %zero_padd_marg;
    font-family: "RobotoRegular", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: lighter;
    line-height: 30px;
    text-transform: none;
    letter-spacing: 0.04em;
    color: #e9e1d5;
    margin-bottom: 40px;
  }
  .service__btn {
    @extend %buttons;
  }
}

.footer-container {
  background: url("../img/back.png") no-repeat center;
  background-size: cover;
  .bike-club {
    display: flex;
    width: 1073px;
    padding: 125px 0 120px 0;
    margin: 0 auto;
    background: url("../img/image.png") no-repeat 95% 125px;
    background-size: auto auto;
  }
  .bike-club__text-block {
    @extend %zero_padd_marg;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  h2 {
    @extend %zero_padd_marg;
    font-size: 48px;
    font-weight: normal;
    line-height: 48px;
    vertical-align: top;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: #baa480;
    margin-bottom: 30px;
  }
  .question,
  p {
    @extend %zero_padd_marg;
    font-family: "RobotoRegular", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: lighter;
    line-height: 30px;
    text-transform: none;
    letter-spacing: 0.04em;
    color: #e9e1d5;
  }
  .question {
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 45px;
  }
  .bike-club__btn {
    @extend %buttons;
  }
  @import "footer";
}

@import "catalogue";
@import "card";
